<!DOCTYPE html>
<html ng-app="nepForum" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forums</title>
    <!--<link th:href="@{/style/site.css}" rel="stylesheet" type="text/css" />-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script th:src="@{/scripts/app.js}"></script>
    <script th:src="@{/scripts/forumCtrl.js}"></script>
</head>
<body>
<section>
    <ul class="forumsList" ng-controller="forumCtrl">
        <li ng-repeat="forum in forums">
            {{forum.title}}
        </li>
        <li ng-repeat="forum in forums">
            {{forum.description}}
        </li>
        <li ng-repeat="forum in forums">
            <a href="/forumsystem/forums/{{forum.title}}">View Details</a>
        </li>
    </ul>
</section>
</body>
</html>