<!DOCTYPE html>
<html ng-app="nepForum" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forums</title>
    <link th:href="@{/style/site.css}" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script th:src="@{/scripts/app.js}"></script>
    <script th:src="@{/scripts/forumCtrl.js}"></script>
</head>
<body>
<section>
    <div class="details">
        Title : <span th:text="${forumDetails['title']}"></span>
        Description : <span th:text="${forumDetails['description']}"></span>
    </div>
</section>
</body>
</html>